.side {
    width: 300px;
    border: 1px solid rgb(225, 225, 225);
    background: #ffffff;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.main {
    position: absolute;
    left: 320px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.box-txt-search {
    padding: 10px 0;
    text-align: center;
}
.box-txt-search input {
    line-height: 28px;
    width: 80%;
}

.box-player-vs {
    background: #ffffff;
    width: 500px;
    position: absolute;
    top:100px;
    padding: 10px;
    right: 200px;
    z-index: 2;
    transition: left .3s linear;
}
.box-player-vs > .box-top-bar {
    line-height: 35px;
}

.list-ad-search > li {
    padding: 10px 0;
}
.list-ad-search > li > span {
    width: 90px;
    display: inline-block;
    text-align: right;
}