.side {
    float: left;
    width: 220px;
    margin-bottom: 15px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
}
.side li a {
    position: relative;
    display: block;
    text-decoration: none;
	padding: 8px 10px;
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #eee;
    color: #4183c4;
}
.side li a:hover {
    color: #84bcde;
    background-color: #f9f9f9;
}
h3 {
	padding: 8px 10px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	color: #555;
	background-color: #f7f7f7;
	border-bottom: 1px solid #eee;
}
.main {
    position: absolute;
    left: 235px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding-left: 10px;
    box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
}

#index {
	display: none;
}
#index li {
    padding: 5px 0 5px 20px;
    margin: 0px;
}
.type {
    color: #bababa;
}
#index a {
	color: #000;
    text-decoration: none;
}
#index a:hover {
    text-decoration: underline;
}
.time {
    color: #999;
    margin-left: 10px;
}
h2 {
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    color: #666;
    padding: 8px 0 8px 20px;
    font-weight: bold;
}
.box-tool-tax .txt-item {
    display: inline-block;
    width: 180px;
    margin: 0 15px;
}
.tb-match th {
    text-align: right;
    padding: 10px 10px 10px 0; 
}
.tb-match td {
   
}

.list-data > li > span {
    display: inline-block;
    width: 24%;
}
.list-data > li > span > span {
    display: inline-block;
    width: 50%;
    color: #666666;
    text-align: right;
}
.tb-team {
	line-height: 35px;
}
.tb-team th, .tb-team td {
    text-align: center;
    border: 1px solid #555;
}