body {
    font-family: "Microsoft YaHei",微软雅黑, Sans-serif;
    overflow-x: hidden;
    background: #f7f7f7;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.nav {
    height: 60px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #0b0b0b;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.07), 0 1px 3px rgba(0,0,0,.7);
}
.list-nav {
    height: 37px;
    line-height: 21px;
    margin-top: 13px;
}
.nav-item {
    float: left;
    height: 37px;
    line-height: 21px;
    margin-left: 8px;
    text-align: left;
    width: 100px;
    zoom: 1;
}
.nav-item a {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none solid rgb(231, 231, 231);
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: ease-out;
    width: 98px;
    color: #7c7c7c;
    text-decoration: none;
    zoom: 1;
}
.nav-item a:hover {
    text-decoration: none;
    color: #e7e7e7;
}
.nav-item-cur a {
    color: rgb(231, 231, 231);
    background-color: rgb(21, 21, 21);
    border: 1px solid rgb(13, 13, 13);
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.0980392) 0 1px 0 0;
}
.wrap {
    position: relative;
    margin: 0 auto;
}
.box-card {
    background: #ffffff;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    margin-bottom: 15px;
}
.box-main-item {
    display: none;
}
.footer {
    margin-top: 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 3px 0px inset;
    background-color: rgb(70, 70, 70);
    border-top: 1px solid rgb(56, 58, 61);
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 3px 0px inset;
    color: rgb(171, 171, 171);
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 32px;
    text-align: center;
    zoom: 1;
}
.td-c {
    text-align: center;
}
@media (max-width:1189px) {
    .wrap {
        width: 980px;
    }
}
@media (max-width:2090px) {
    .wrap {
        width: 1190px;
    }
}
@media (max-width: 799px) {
    .wrap {
        width: 100%;
    }
    .side {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .box-ad-search {
        height: 0;
        overflow: hidden;
        transition: left .3s linear;
    }
    .main {
        float: none;
        width: 100%;
    }
    .box-txt-search {
        height: 35px;
        padding: 5px 0;
    }
    #txtSearch {
        height: 25px;
        border-radius: 2px;
    }
}